form table td.field{
	text-align: right;
	font-weight: bold;
}

table td .button{
	margin: 0 !important;
}

form table input, form table select{
	margin: 0 !important;
}

form table fieldset table{
	margin: 0;
	border: none;
}

form table fieldset table td{
	display: block;
}

form table tr.checkbox{
	cursor: pointer;
}

table td.thumbnail{
	text-align: center;
}

table td.thumbnail img{
	max-height: 32px;
	max-width: 32px;
}

.sub-nav dd{
	padding-right: 20px;
}

.panel.product{
	text-align: center;
}

.panel.product img{
	max-height: 128px;
}

.panel.product h5{
	height: 40px;
	padding-top: 10px;
	display: block;
	line-height: 120%;
}

#pdp img.thumb{
	width: 36px;
	height: 36px;
	cursor: pointer;
	border: none;
}

#pdp #product-image{
	max-height: 300px;
}